<div class="container-fluid">

  <h2>Journey: <%= @journey.title %></h2> 
  <section class="places container-fluid meals">

<p>What food did you have?<a class="btn btn-primary" href="/journeys/<%= @journey.id %>/meal">Add</a> <a class="btn btn-primary" href="/create_journey_blog/<%= @journey.id %>">Skip</a>
</p>
 
 
</section>

</form>
