

<div class="container-fluid">

  <h2>Journey: <%= @journey.title %></h2> 
  <section class="places container-fluid">

  <p>Where did you go?<a class="btn btn-primary"href="/journeys/<%= @journey.id %>">Add</a> <a class="btn btn-primary"href="/journeys/<%= @journey.id %>/meals/new">Skip</a>
  </p>
  
  
  </section>


  </form>


</div>

 
