 
<div class="container-fluid">
  <header>
    <h2>Let's Create your Amazing Journey ! </h2>
  </header>
  <form action="/journeys/new" method="post" class="input-group mb-3">

  <label class="input-group-text" for="">Title</label>
  <input type="text"name="title"class="form-control" placeholder="Journey Title">
  <button class="btn btn-outline-secondary">create</button>
  

  

</div>
